.button {
  --color: var(--secondary-500);
  --color-hover: var(--secondary-300);
  --icon-size: /*20*/ 1.25rem;

  @apply p-md;
  @apply rounded-md;
  @apply bg-[var(--color)];
  @apply flex items-center justify-center;
  @apply transition-colors duration-300;

  .icon {
    @apply w-[var(--icon-size)] h-[var(--icon-size)];
  }

  &:hover {
    @apply bg-[var(--color-hover)];
  }
}

//Size
.button {
  &[data-size='small'] {
    --icon-size: /*16*/ 1rem;
  }
  &[data-size='large'] {
    --icon-size: /*30*/ 1.875rem;
    @apply p-xs;
  }
}

//Variant
.button {
  &[data-variant='secondary'] {
    --color: var(--primary-500);
    --color-hover: var(--primary-300);
  }

  &[data-variant='danger'] {
    --color: var(--red);
    --color-hover: var(--gray);
    @apply text-white;
  }

  &[data-variant='invisible'] {
    --color: transparent;
    --color-hover: transparent;
  }
}