.root {
  .form {
    @apply flex flex-col gap-lg;
    @apply h-full;
  
    .branding {
      @apply grid grid-cols-2 gap-sm; 
      grid-template-rows: 80px 80px;
  
      h3 {
        @apply col-span-2 hidden;
      }
  
      .userlogo {
        @apply row-span-2;
      }
    }
    
    .finance {
      @apply grid grid-cols-2 gap-sm;
      grid-template-rows: min-content 80px;
  
      h3 { @apply col-span-2; }
    }

    .weekly {
      @apply flex;
    }
  
    .footer {
      @apply h-full;
      @apply flex flex-col justify-end;
    }
  }
}

@media screen and (max-width: 1150px) {
  .root {
    h2 {
      @apply hidden;
    }

    .form {
      @apply grid auto-rows-min gap-md;
      grid-template-columns: 2fr 1fr;
  
      .branding {
        grid-template-rows: min-content 80px 80px;
  
        h3 {
          @apply flex;
        }
      }

      .finance {
        @apply grid-cols-1;
    
        h3 { @apply col-span-1; }
      }
    }
  }
}