// Variant
.button {
  &[data-variant='primary'] {
    @apply bg-primary;
  }
  &[data-variant='secondary'] {
    @apply bg-secondary;
    @apply text-black;
  }
  &[data-variant='danger'] {
    @apply bg-red;
    --color-hover: transparent;
    @apply text-white;
    
    &:hover {
      @apply text-black;
    }
  }
  &[data-variant='outline'] {
    @apply bg-transparent;
    @apply text-black;
    @apply border-black
    
  }
}

// Size
.button {
  &[data-size='small'] {
    @apply text-sm;
    --icon-size: /*16*/ 1rem;
  }
}

.button {
  @apply p-sm;
  @apply rounded-md;
  @apply bg-primary;
  @apply border border-solid border-transparent;
  @apply text-white text-base font-bold;

  @apply transition-all duration-300;

  @apply flex gap-md items-center justify-center;

  .content[data-pad="true"] {
    @apply pl-sm;
  }
  .icon[data-pad="true"] {
    @apply pr-sm;
  }

  &:hover {
    // box-shadow: inset 1px 0 10px 100px #f4f4f571;
    --tw-bg-opacity: 0.75;
  }
}