@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: bold;
  font-weight: 700;
  src: url('../../fonts/Karla-Bold.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-900: #537C81;
  --primary-500: #79B5BD;
  --primary-300: #8BD1DA;

  --secondary-900: #58A84F;
  --secondary-500: #A7BC78;
  --secondary-300: #C1DA8B;

  --white: #F9F9F9;
  --white-full: #Ffffff;
  --black: #1F1F1F;
  --gray: #92A5A3;
  --red: #DC2626;
  
  --font-size-lg: /*18px*/ 1.125rem;
  --font-size-base: /*16px*/ 1rem; 
  --font-size-sm: /*14px*/ 0.875rem;

  --spacing-xs: /*5px*/ 0.3125rem;
  --spacing-sm: /*8px*/ 0.5rem;
  --spacing-md: /*13px*/ 0.8125rem;
  --spacing-lg: /*21px*/ 1.3125rem;
  --spacing-xl: /*34px*/ 2.125rem;

  --max-width-xs: /*66px*/ 4.125rem;
  --max-width-sm: /*204px*/ 12.75rem;
  --max-width-md: /*471px*/ 29.4375rem;
}

@media screen and (min-width: 1366px) {
  :root {
    --font-size-lg: /*18px*/ 1.125rem;
    --font-size-base: /*16px*/ 1rem; 
    --font-size-sm: /*14px*/ 0.875rem;
  }
}