#root {
    @apply h-screen grid;
    grid-template-rows: 50px calc(100vh - 50px);

    header {
        @apply flex justify-center items-center;
        background-color: var(--primary);
    }
    
    main {
        @apply grid grid-cols-2 gap-14 p-7;
        background-color: var(--bg-primary);

        > div {
            @apply p-5 rounded-xl
                    flex flex-col gap-2 h-full;
        }
    }
}

@media screen and (max-width: 768px) {
    #root {
        grid-template-rows: 50px 1fr;
        main {
            @apply grid grid-cols-1;
        }
    }
}