.root {
  @apply w-full h-full;
  @apply rounded-md;
  @apply overflow-hidden;
  @apply bg-white;
  --scrollbar-size: 10px;
  
  .viewport {
    @apply w-full h-full;
    // @apply pr-md;
    border-radius: inherit;
  }

  .scrollbar {
    @apply flex;
    @apply p-[2px];
    @apply bg-white;
    user-select: none;
    touch-action: none;
    transition: background 160ms ease-out;

    &:hover {
      @apply bg-slate-200;
    }

    &[data-orientation='vertical'] {
      width: var(--scrollbar-size);
    }
    &[data-orientation='horizontal'] {
      @apply flex-col;
      height: var(--scrollbar-size);
    }

    .thumb {
      @apply relative flex-1;
      @apply bg-gray;
      @apply rounded-full;
      @apply cursor-pointer;

      &::before {
        content: '';
        @apply absolute left-1/2 top-1/2;
        @apply transform -translate-x-1/2 -translate-y-1/2;
        @apply w-full h-full min-w-[44px] min-h-[44px];
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .root .viewport {
    @apply pr-0;
  }
}